
<div class="container">
    <div class="login-section"> 
        <mat-tab-group (selectedTabChange)="onTabChange($event)" class="login">
            <mat-tab label="Cliente"> 
              @if (tipoUsuario) {
              <!-- FORMULARIO PARA EL REGISTRO DE CLIENTE -->
              <form [formGroup]="registroFormCliente" (ngSubmit)="onSubmit()">
                <h2>Registro de Cliente</h2>
                <input type="hidden" value="cliente">
                <mat-form-field class="login__input">
                    <!-- Mensajes de Error del Teléfono -->
                    <mat-error *ngIf="registroFormCliente.get('telefono')?.hasError('required')">
                      El teléfono es requerido
                    </mat-error>
                    <!-- Teléfono -->
                    <mat-label >teléfono</mat-label>
                    <input matInput formControlName="telefono" >
                  </mat-form-field>
                      
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error del Nombre -->
                      <mat-error *ngIf="registroFormCliente.get('nombre')?.hasError('required')">
                        El Nombre es requerido
                      </mat-error>
                      <!-- Nombre -->
                      <mat-label >nombre</mat-label>
                      <input matInput formControlName="nombre" >
                  </mat-form-field>
          
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error del Apellido -->
                      <mat-error *ngIf="registroFormCliente.get('apellido')?.hasError('required')">
                        El Apellido es requerido
                      </mat-error>
                      <!-- Apellido -->
                      <mat-label >apellido</mat-label>
                      <input matInput formControlName="apellido" >
                  </mat-form-field>
          
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error de la Email -->
                      <mat-error *ngIf="registroFormCliente.get('email')?.hasError('required')">
                        El email es requerido
                      </mat-error>
                      <mat-error *ngIf="registroFormCliente.get('email')?.hasError('email')">
                        Por favor ingrese un correo electrónico válido
                      </mat-error>
                      <!-- Email -->
                      <mat-label >email</mat-label>
                      <input matInput formControlName="email" >
                  </mat-form-field>
                   
                  <mat-form-field class="login__input">
                        <!-- Mensajes de Error de la dirección -->
                        <mat-error *ngIf="registroFormCliente.get('direccion')?.hasError('required')">
                        La dirección es requerida
                        </mat-error>
                        <!-- Dirección -->
                        <mat-label >dirección</mat-label>
                        <input matInput formControlName="direccion" >
                   </mat-form-field>
                 
                  <mat-form-field class="login__input">
                    <!-- Mensaje de Error de la Contraseña -->
                    <mat-error *ngIf="registroFormCliente.get('contrasenia')?.hasError('required')">
                      La contraseña es requerida
                    </mat-error>
                    <mat-label>contraseña</mat-label>
                    <!-- Contraseña -->
                    <input 
                      type="password" 
                      formControlName="contrasenia" 
                      matInput [type]="hide() ? 'password' : 'text'" 
                      [class.is-invalid]="registroFormCliente.get('contrasenia')?.invalid && registroFormCliente.get('contrasenia')?.touched">
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide contrasenia'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <button mat-flat-button class="login__submit">Registrar</button>
                  <a href="/login" class="login__crear-usuario">Iniciar Sesión</a>
              </form>
            }
            </mat-tab>
          
         
            <mat-tab label="Jardinero">
              @if (!tipoUsuario){
              <!-- FORMULARIO PARA EL REGISTRO DE JARDINERO -->
              <form [formGroup]="registroFormJardinero" (ngSubmit)="onSubmit()">
                <h2>Registro de Jardinero</h2>
                <mat-form-field class="login__input">
                    <!-- Mensajes de Error del Teléfono -->
                    <mat-error *ngIf="registroFormJardinero.get('contrasenia')?.hasError('required')">
                      El teléfono es requerido
                    </mat-error>
                    <!-- Teléfono -->
                    <mat-label >teléfono</mat-label>
                    <input matInput formControlName="telefono" >
                  </mat-form-field>
                      
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error del Nombre -->
                      <mat-error *ngIf="registroFormJardinero.get('nombre')?.hasError('required')">
                        El Nombre es requerido
                      </mat-error>
                      <!-- Nombre -->
                      <mat-label >nombre</mat-label>
                      <input matInput formControlName="nombre" >
                  </mat-form-field>
          
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error del Apellido -->
                      <mat-error *ngIf="registroFormJardinero.get('apellido')?.hasError('required')">
                        El Apellido es requerido
                      </mat-error>
                      <!-- Apellido -->
                      <mat-label >apellido</mat-label>
                      <input matInput formControlName="apellido" >
                  </mat-form-field>
          
                  <mat-form-field class="login__input">
                      <!-- Mensajes de Error de la Email -->
                      <mat-error *ngIf="registroFormJardinero.get('email')?.hasError('required')">
                        El email es requerido
                      </mat-error>
                      <mat-error *ngIf="registroFormJardinero.get('email')?.hasError('email')">
                        Por favor ingrese un correo electrónico válido
                      </mat-error>
                      <!-- Email -->
                      <mat-label >email</mat-label>
                      <input matInput formControlName="email" >
                  </mat-form-field>
                   
                 
                  <mat-form-field class="login__input">
                    <!-- Mensaje de Error de la Contraseña -->
                    <mat-error *ngIf="registroFormJardinero.get('contrasenia')?.hasError('required')">
                      La contraseña es requerida
                    </mat-error>
                    <mat-label>contraseña</mat-label>
                    <!-- Contraseña -->
                    <input 
                      type="password" 
                      formControlName="contrasenia" 
                      matInput [type]="hide() ? 'password' : 'text'" 
                      [class.is-invalid]="registroFormJardinero.get('contrasenia')?.invalid && registroFormJardinero.get('contrasenia')?.touched">
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide contrasenia'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <button mat-flat-button class="login__submit">Registrar</button>
                  <a href="/login" class="login__crear-usuario">Iniciar Sesión</a>
                </form>
              }
            </mat-tab>   
        </mat-tab-group>
    </div>
    <div class="image-section"></div>
</div>