
<div class="container">
    <div class="login-section">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
        <h2>Jardinería</h2>

        <mat-form-field class="login__input">
          <!-- Mensajes de Error del Email -->
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El correo electrónico es requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Por favor ingrese un correo electrónico válido
          </mat-error>
          <!-- Email -->
          <mat-label >Ingrese su email</mat-label>
          <input matInput formControlName="email" >
        </mat-form-field>
       
        <mat-form-field class="login__input">
          <!-- Mensaje de Error de la Contraseña -->
          <mat-error *ngIf="loginForm.get('contrasenia')?.hasError('required')">
            La contraseña es requerida
          </mat-error>
          <mat-label>Ingrese su contraseña</mat-label>
          <!-- Contraseña -->
          <input 
            type="password" 
            formControlName="contrasenia" 
            matInput [type]="hide() ? 'password' : 'text'" 
            [class.is-invalid]="loginForm.get('contrasenia')?.invalid && loginForm.get('contrasenia')?.touched">
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide contrasenia'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-flat-button class="login__submit">Ingresar</button>
      </form>
    </div>
    <div class="image-section"></div>
</div>

